@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    var ID = ViewBag.ID;
}
@section css{
    <style>
        .select_fl {
            float: left;
            width: 100px !important;
        }
    </style>
}
@section Quarry{
    <td width="100" align="right" style="">
        <span class="form_label">
            客户来源
        </span>
    </td>
    <td style=" border: 0px;padding: 0px;" colspan="3">
        <div class="form_content">
            @Html.FormControl(new FormControllerModel() { FieldID = 11724, FormField = new Base.Model.Sys.Model.FormFieldModel() { }, ID = ID, ClassName = "select_fl" })
            @Html.FormCustomizeControl(new FormControllerModel() { FieldID = 11763, FormField = new Base.Model.Sys.Model.FormFieldModel() { }, ID = ID, ClassName = "select_fl" })
            <span style="float:left;margin:6px">人员:</span>
            @Html.FormCustomizeControl(new FormControllerModel() { FieldID = 11725, FormField = new Base.Model.Sys.Model.FormFieldModel() { }, ID = ID, ClassName = "select_fl" })
        </div>
    </td>
}
@section ProvinceID{
    <td width="100" align="right" style="">
        <span class="form_label">
            所在地区
        </span>
    </td>
    <td width="200" style=" border: 0px;padding: 0px;">
        <div class="form_content" style="">
            <select id="Sel_ProvinceID" class="form-tag filed customer_field col-md-6 col-xs-6 " style="float:left; width: 100px;">
                <option value="">省/直辖市</option>
            </select>
            <select id="Sel_CityID" class="form-tag filed customer_field col-md-6 col-xs-6 " style=" float: left; width: 100px; ">
                <option value="">城市/行政区</option>
            </select>
        </div>
    </td>

}
@section AreaCode{
    <td width="100" align="right" style="">
        <span class="form_label">
            电话
        </span>
    </td>
    <td style=" border: 0px;padding: 0px;" >
        <div class="form_content">
            @Html.FormCustomizeControl(new FormControllerModel() { FieldID = 11738, FormField = new Base.Model.Sys.Model.FormFieldModel() { }, ID = ID, ClassName = "" })
            @Html.FormCustomizeControl(new FormControllerModel() { FieldID = 11740, FormField = new Base.Model.Sys.Model.FormFieldModel() { }, ID = ID, ClassName = "" })
        </div>
    </td>
}
@section FaxAreaCode{
    <td width="100" align="right" style="">
        <span class="form_label">
            传真
        </span>
    </td>
    <td style=" border: 0px;padding: 0px;" >
        <div class="form_content">
            @Html.FormCustomizeControl(new FormControllerModel() { FieldID = 11741, FormField = new Base.Model.Sys.Model.FormFieldModel() { }, ID = ID, ClassName = "" })
            @Html.FormCustomizeControl(new FormControllerModel() { FieldID = 11742, FormField = new Base.Model.Sys.Model.FormFieldModel() { }, ID = ID, ClassName = "" })
        </div>
    </td>
}
@section scripts{
    <script src="~/Content/base/js/area.js"></script>
    <script type="text/javascript">
        $(function () {
            area.init({
                ProvinceFieldName: "ProvinceID",
                CityFieldName: "CityID",
                AreaFieldName: "AreaID",
            });
            layoutform.fn_beforeSend = function () {

            }
        });
    </script>
}
